.masthead{
    background: -webkit-gradient(linear, left top, right top, from(rgba(141, 227, 192, 0.1)), to(rgba(114, 204, 168, 0.1))));
	background: linear-gradient(180deg, #8de3c0 0%, #72cca8 100%);
}

body{
    font-family: 'Dosis', sans-serif;
    font-size: 16pt;
}

p{
	text-align: left;
}

h1, h2{
    font-family: 'Yrsa', serif;
    font-size: 30pt;
}

h3{
    font-size: 25pt;
}

.responsive{
	width: 75%;
	max-width: 500px;
	height: auto;
}

.rounded-circle{
	background: linear-gradient(180deg, #7e9f99 0%, #7e9f99 100%);
}

#sidebar-wrapper{
	background: linear-gradient(180deg, #608a7a 0%, #608a7a 100%);
}

#contact{
	background: -webkit-gradient(linear, left top, right top, from(rgba(251, 204, 174, 0.1)), to(rgba(251, 204, 174, 0.1))));
	background: linear-gradient(180deg, #72cca8 0%, #72cca8 100%);
}

#skills ul{
    text-align: center;
    list-style-type: square;
}

#skills li{
	text-align: left;
}

#snippet{
	text-align: left;
	font-style: italic;
	padding: 30px;
}

#cw_images img{
	padding-top: 2em;
}
